@keyframes float-to-left  {
    0% {
        transform: translateX(2000px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes float-to-right  {
    0% {
        transform: translateX(-2000px);
    }
    100% {
        transform: translateX(0px);
    }
}

#projects {
    display: grid;
    grid-template-rows: repeat(3, 1fr);;
}

#project1, #project2, #project3 {
    background-color: slategray;
    padding: 10px;
}

#project1, #project3 {
    animation: float-to-left 2500ms ease-out forwards;
}

#project2 {
    animation: float-to-right 2500ms ease-out forwards;
}