.resumeImage {
display: none;
margin-top: 20px;
opacity: 0;
transform: translateY(-20px);
transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.resumeImage.visible {
  display: block;
  transform: translateY(20px);
  opacity: 1;
}

.resumeImage img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}