html {
  scroll-behavior: smooth;
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px); /* Bounce down by 10px */
    }
    100% {
      transform: translateY(0);
    }
  }

#down-arrow {
    animation: bounce 1s infinite alternate;
}

#ResumePage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}